
.game {
  position: relative;
  padding: 15px;
  top:80px;
  left:10%;
  width:80%;
  background-color: #C0CCCF;
  border-radius: 25px;
  border: 2px solid #A6B0B3;

}
.game p{
  text-align: center !important;
}

.player{
  padding: 10px;
  display: inline;
  width:120px;
}

.center-block{
  padding: 30px;
}

.cursor{
  cursor: default !important;
}