.nav {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding-bottom: 2px;
  height: 45px;
  text-transform: uppercase;
  background-color: #ecf0f1;
  border-bottom:2px solid #dbdbdb;
}

.nav li {
  display: inline;
  margin: 10px;
}

body{
  background-color:#3498db;
}

#box{
  position: relative;
  top:45px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
